<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
입력하신 이름에 대한 정보가 없습니다. 등록해주세요.
    <input type = "button" value="home" style="border" onclick="location.href = '/'"/>

    <form id="student-register" method="POST" action ="/insert_new">
        <input type="text"  name="name" placeholder="Your Name" />
        <input type="number" name="number" placeholder="Your Number"/>
        <button type="submit" >학생 등록</button>
    </form>


    </body>
</html>